/* For Mobile Phones/Global Styles */

/* Colour Palet White: #EAEAEA Dark Red/Black:#231F20 Gold: #daa520 -- Fade To #e4ba4e*/


body {
	background-color: #231F20;
}

/*Cake Gallery Image*/
.product-image img {
	width:100%;
	height:100%;
	position: relative;
	display: block;
}

/*Cake Gallery Text*/
.product-caption {
	position: relative;
	text-align: center;
	margin-top: -20px;
	font-family: 'Libre Baskerville', serif;
}

/*Cake Gallery Text Name*/
.product-name {
	margin-bottom: 0px;
}

.product-name a {
	text-decoration: none;
	position: relative;
	top: 0;
	color: #daa520;
	transition: top ease .4s;
}

/* Product Price Styling for Cake Page */
.product-price {
	position: relative;
	color: #EAEAEA;
	text-transform: lowercase;
	font-size: 12px;
	top: 0;
	transition: top ease .7s;
}

.product-center:hover .product-name a {position: relative; top: -15px;}
.product-center:hover .product-price {position: relative; top: -15px;} 

/* Container to hold each product image center */
.product-center {
	width: 100%;
	margin: 0 0 3.125rem;
	margin-right: 2%;
}

* {
	box-sizing: border-box;
}

/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 15px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 18px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
}

/* Hamburger Menu Styling */
#hamburger {
	font-size: 30px;
	text-decoration: none;
	color: #daa520;
	float: left;
}

/* Remove normal Menu when on smaller screens */
.navmenu {
	display: none;
}

/* TopNav bar Styling */
.topnav {
	position: relative;
	background-color: #231F20;
	overflow: hidden;
	padding: 6px;
	text-align: center;
}

.topnav-centered {
	display: inline-block;
	margin: 0 auto;
}

.topnav-centered img {
	float: none;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	max-width: 70%;
	max-height: 70%;
	display: inline-block;
	margin: 0 auto;
}


.search-button {
	 position: relative;
	 right: 30px;
	 top: 30px;
	 transform: translate(0, -50%);
}
 .search-toggle {
	 position: relative;
	 display: block;
	 height: 10px;
	 width: 10px;
}
 .search-toggle::before, .search-toggle::after {
	 content: '';
	 position: absolute;
	 display: block;
	 transition: all 0.1s;
}
 .search-toggle::before {
	 border: 2px solid #0097bf;
	 border-radius: 50%;
	 width: 100%;
	 height: 100%;
	 left: -2px;
	 top: -2px;
}
 .search-toggle::after {
	 height: 2px;
	 width: 7px;
	 background: #0097bf;
	 top: 10px;
	 left: 8px;
	 transform: rotate(45deg);
}
 .search-toggle.active::before {
	 width: 0;
	 border-width: 1px;
	 border-radius: 0;
	 transform: rotate(45deg);
	 top: -1px;
	 left: 4px;
}
 .search-toggle.active::after {
	 width: 12px;
	 left: -1px;
	 top: 4px;
}
 .search-input:focus {
	 outline: none;
}

.search-box {
	 position: absolute;
	 bottom: 0;
	 width: 100%;
	 height: 100%;
	 max-height: 0;
	 transform: translateY(100%);
	 background-color: #0097bf;
	 transition: all 0.3s;
}

.fa-shopping-cart {
	color: #daa520;
	font-size: 20px;
	vertical-align: middle;
}

.fa-shopping-cart:hover {
	color: #EAEAEA;
}

.topnav-right {
	float: right;
	width: 100px;
}

.cart-basket {
	background: #daa520;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
	border-radius: 50%;
    color: #231F20;
    display: inline-block;
    font-weight: bold;
    line-height: 12px;
    margin-right: 1px;
    text-align: center;
    width: 12px;
	position: absolute;
	top: 26px;
	right: 10px;
	font-size: 12px;
}

.cart-basket[data-count]:after {
	content: attr(data-count);
}

/* Styling for Seperate Cake/Item Pages */

.product-details {
	margin-top: -18px;
    margin-top: -1.125rem;
    padding-left: 20px;
    padding-left: 1.25rem;
    padding-right: 20px;
    padding-right: 1.25rem;
}

.product-details h1 {
	font-size: 40px;
	margin-bottom: 20px;
	line-height: 1.2;
	letter-spacing: .05em;
	text-transform: uppercase;
	font-family: 'Libre Baskerville', serif;
	font-style: normal;
	color: #daa520;
}

.product-details #product-price {
	margin-bottom: 24px;
}

.product-details #product-price .product-price {
	font-size: 22px;
	line-height: 1.1;
	font-family: 'Libre Baskerville', serif;
	font-style: normal;
	color: #EAEAEA;
}

.pound-sign {
	font-size: 22px;
	line-height: 1.1;
	font-family: 'Libre Baskerville', serif;
	font-style: normal;
	color: #EAEAEA;
}


.product-details #product-description {
	margin-bottom: 32px;
}

.product-details #product-description p {
	font-size: 12px;
	line-height: 1.72;
	letter-spacing: .05em;
	font-family: 'Libre Baskerville', serif;
	font-style: normal;
	color: #EAEAEA;
}


/* Cake Size Selection */
.product-details #product-varients {
	position: relative;
	margin-bottom: 20px;
	margin-bottom: 1.25rem;
}

.product-details #product-varients label {
	margin-bottom: 12px;
	margin-bottom: .75rem;
	font-family: 'Libre Baskerville', serif;
	font-style: normal;
	color: #EAEAEA;
	display: block;
}

.selection-wrapper {
	position: relative;
	display: block;
	overflow: hidden;
	width: 100%;
	background: #231F20;
	max-width: 100%;
	margin: 0;
	border: 1px solid #fff;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	background-clip: border-box;
}

.selection-wrapper select {
	cursor: pointer;
	width: 100%;
	max-width: 100%;
	min-width: 100%;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	margin: 0;
	background: #231F20;
	border: none;
	outline: 0;
	padding: 17px 66px 15px 22px;
	color: #EAEAEA;
}

/* Selection2 Styles */
.product-details #product-varients2 #varients2-span {
	margin-bottom: 12px;
	margin-bottom: .75rem;
	font-family: 'Libre Baskerville', serif;
	font-style: normal;
	color: #EAEAEA;
	display: block;
}

/* Container for Custom Checkbox */
.selection-wrapper2 #checkbox-container {
  	position: relative;
 	padding-left: 30px;
  	margin-bottom: 12px;
  	cursor: pointer;
  	-webkit-user-select: none;
  	-moz-user-select: none;
  	-ms-user-select: none;
  	user-select: none;
}

/* Hides Browser Default Checkbox */
.selection-wrapper2 #checkbox-0 {
	position: absolute;
  	opacity: 0;
  	cursor: pointer;
  	height: 0;
  	width: 0;
}

/* Creates Custom Checkbox */
.selection-wrapper2 #custom-checkbox {
	position: absolute;
  	top: 0;
  	left: 0;
  	height: 20px;
  	width: 20px;
  	background-color: #363031;
}

/* Change Colour on Hover */
.selection-wrapper2 #checkbox-container:hover input ~ #custom-checkbox {
 	background-color: #443c3e;
}

/* Change Colour on Checked */
.selection-wrapper2 #checkbox-container input:checked ~ #custom-checkbox {
 	background-color: #daa520;
}

/* Create Checkmark (hidden when not checked) */
.selection-wrapper2 #checkbox-container #custom-checkbox:after {
	content: "";
	position: absolute;
	display: none;
}

/* Show the Checkmark when Checked */
.selection-wrapper2 #checkbox-container input:checked ~ #custom-checkbox:after {
	display: block;
}

/* Checkmark Styling */
.selection-wrapper2 #checkbox-container #custom-checkbox:after {
	left: 7px;
  	top: 2px;
  	width: 4px;
  	height: 10px;
  	border: solid #EAEAEA;
  	border-width: 0 3px 3px 0;
  	-webkit-transform: rotate(45deg);
  	-ms-transform: rotate(45deg);
  	transform: rotate(45deg);
}

.selection-wrapper2 #checkbox-container span {
	font-size: 12px;
	line-height: 1.72;
	letter-spacing: .05em;
	font-family: 'Libre Baskerville', serif;
	font-style: normal;
	color: #EAEAEA;
}

.content #product-varients2 table {
	width: 385px;
}

.content #product-varients2 {
	padding-bottom: 10px;
}

.icing-message-header {
	margin-top: 10px;
}

.icing-message-text {
	position: relative;
	display: block;
	overflow: hidden;
	width: 100%;
	background: #231F20;
	max-width: 100%;
}

.icing-message-text p {
	font-size: 11px;
	line-height: 1.72;
	letter-spacing: .05em;
	font-family: 'Libre Baskerville', serif;
	color: #EAEAEA;
	margin-top: 2px;
}

.icing-message-text p strong {
	font-size: 11px;
	line-height: 1.72;
	letter-spacing: .05em;
	font-family: 'Libre Baskerville', serif;
	color: #EAEAEA;
	margin-top: 2px;
}

.icing-message-text-input {
	width: 383px;
	height: 47px;
	margin: 0;
	background: #363031;
	border: 1px solid #fff;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	background-clip: border-box;
	color: #EAEAEA;
	outline: none;
}

.required {
	font-size: 14px;
	line-height: 1.72;
	letter-spacing: .05em;
	font-family: 'Libre Baskerville', serif;
	font-style: normal;
	color: #EAEAEA;
}

.row1 {
	display: none;
}


.outline {
	border: 3px solid red;
}
.icing-colour-header {
	width: 100%;
	margin-left: 0 auto;
	maring-right: 0 auto;
	padding: 0 0 0 0;
}

.icing-colour-selector {

}
.icing-colour {
	float: left;
	width: 17%;
	padding-bottom: 5px;
}

/* Hides the Radio Buttons */
.icing-colour-options {
	visibility: hidden;
	z-index: -1;
}

/* Creates the colour boxes */
.icing-colour-thumbnail {
	height: 60px;
	width: 60px;
	border-radius: 7px;
}

/* Styling for the span on hover */
.icing-colour-options-span {
	visibility: hidden;
  	width: 120px;
  	background-color: #363031;
  	color: #EAEAEA;
  	text-align: center;
  	border-radius: 6px;
  	padding: 5px 0;
  	position: absolute;
  	z-index: 2;
  	bottom: 125%;
  	left: 50%;
  	margin-left: -60px;
  	opacity: 0;
  	transition: opacity 0.3s;
	font-family: 'Libre Baskerville', serif;
	font-size: 12px;
}

.icing-colour-options-span:after {
  	content: "";
  	position: absolute;
  	top: 100%;
  	left: 50%;
  	margin-left: -5px;
  	border-width: 5px;
  	border-style: solid;
  	border-color: #555 transparent transparent transparent;
}

.icing-colour-options-label {
	position: relative;
	display: block;
}

.icing-colour:hover .icing-colour-options-span {
  	visibility: visible;
  	opacity: 1;
}

.icing-colour-thumbnail-label {
	position: relative;
 	padding-left: 30px;
	padding-bottom: 41px;
	padding-top: 2px;
	padding-right: 9px;
  	margin-bottom: 12px;
  	cursor: pointer;
  	-webkit-user-select: none;
  	-moz-user-select: none;
  	-ms-user-select: none;
  	user-select: none;
}

.product-add {
	padding-bottom: 35px;
	padding-bottom: 2.1875rem;
	display: none;
}

.product-add .input-text.qty {
    max-width: 54px;
    max-width: 3.375rem;
    width: 26px;
    width: 1.625rem;
	height: 20px;
    padding: 0;
	text-align: center;
 	background-color: transparent;
 	border: none;
	color: #EAEAEA;
	float: none;
}

.qty {
	width: 180px;
	width: 11rem;
    border: 1px solid #EAEAEA;
    padding: 18px 20px 14px;
    padding: 1.125rem 1.25rem .875rem;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background-clip: border-box;
    overflow: hidden;
	text-align: center;
	margin: 0;
	text-indent: -1px;
	display: block;
	margin-right: 0;
	float: left;
}

.qty label {
    font-family: 'Libre Baskerville', serif;
    font-size: 14px;
	display: inline;
	color: #daa520;
	float: left;
	padding-bottom: 4px;
}

.qty-buttons {
	float: right;
    text-align: left;
    margin: 0;
    margin-right: 3px;
    margin-right: .1875rem;
	margin-left: 3px;
	margin-left: .1875rem;
}

.qty-buttons input {
	display: inline-block;
 	margin: 0;
 	vertical-align: center;
 	box-shadow: none;
}

.qty-buttons .minus, .qty-buttons .plus {
	padding: 7px 10px 8px;
 	height: 20px;
 	background-color: #ffffff;
	border: 1px solid #efefef;
 	cursor: pointer;
	width: 28px;
	line-height: 5px
}

.qty-buttons .minus {
	border-right: 0;
}

.qty-buttons .plus {
	border-left: 0;
}

.qty-buttons .minus:hover, .qty-buttons .plus:hover {
	background: #eeeeee;
}

.qty-buttons input::-webkit-outer-spin-button, .qty-buttons input::-webkit-inner-spin-button {
	-webkit-appearance: none;
 	-moz-appearance: none;
 	margin: 0;
}


.qty-buttons .minus:focus, .qty-buttons .plus:focus {
	outline: none;
}

.add-to-bag {
	box-sizing: border-box;
	float: right;
	margin-left: 10px;
}

.add-to-bag-button {
	color: #EAEAEA;
	background-color: #daa520;
	border: none;
	display: inline-block;
	text-transform: uppercase;
	text-align: center;
	font-family: 'Libre Baskerville', serif;
	cursor: pointer;
	background-clip: border-box;
	font-size: 12px;
	font-size: .75rem;
	width: 100%;
	padding: 18px 45px 23px;
	background-clip: border-box;
	border-radius: 4px;
}

.product-photos img {
	width: 100%;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
	body {
		background-color: #231F20;
	}
	.product-center {
  		padding: 0 3px;
		float: left;
		width: 49.99999%;
  	}
}

/* Large devices (laptops/desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
	body {
		background-color: #231F20;
	}
	.product-center {
  		padding: 0 6px;
  		float: left;
  		width: 31.109%;
	}
		
	/* Remove Hamburger Menu on Larger Displays */
	.topnav #hamburger {
		font-size: 0;
	}
	
	.topnav-right {
		float: right;
		position: relative;
	}
	
	.topnav-centered img {
		float: none;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		max-width: 100%;
		max-height: 100%;
	}
		
	/* Style the links inside the navigation bar */
	.navmenu {
		float: left;
		color: #daa520;
		text-align: center;
		padding: 14px 16px;
		text-decoration: none;
		font-size: 14px;
		display: inline-block;
		font-family: 'Libre Baskerville', serif;
		font-style: italic;
	}
	
	.navmenu:hover {
		color: #EAEAEA; /* Change this to whatever colour on hover */
	}
		
	/* Menu Styling to move nav menu around */
	.menu {
		display: inline-block;
		float: left;
	}
	
	/* Styling for Seperate Cake/Item Pages */
	.product-container{
		display: flex;
		margin-bottom: 120px;
	}
	.product-photos {
		width: 62.5%;
		position: relative;
	}
	.product-photos img {
		width: 100%;
	}
	.product-details {
		align-self: center;
		width: 37.8%;
		padding-left: 4.2%;
		padding-right: 1.25em;
		box-sizing: border-box;
	}
	.product-details .details {
		max-width: 385px;
	}
}


