/* For Mobile Phones/Global Styles */

/* Colour Palet White: #EAEAEA Dark Red/Black:#231F20 Gold: #daa520 -- Fade To #e4ba4e*/


/*Cake Gallery Image*/
.product-image img {
	width:100%;
	height:100%;
	position: relative;
	display: block;
}

/*Cake Gallery Text*/
.product-caption {
	position: relative;
	text-align: center;
	margin-top: -20px;
	font-family: 'Libre Baskerville', serif;
}

/*Cake Gallery Text Name*/
.product-name {
	margin-bottom: 0px;
}

.product-name a {
	text-decoration: none;
	position: relative;
	top: 0;
	color: #daa520;
	transition: top ease .4s;
}

/* Product Price Styling */
.product-price {
	position: relative;
	color: #EAEAEA;
	text-transform: lowercase;
	font-size: 12px;
	top: 0;
	transition: top ease .7s;
}

.product-center:hover .product-name a {position: relative; top: -15px;}
.product-center:hover .product-price {position: relative; top: -15px;} 

/* Container to hold each product image center */
.product-center {
	width: 100%;
	margin: 0 0 3.125rem;
	margin-right: 2%;
}

* {
	box-sizing: border-box;
}

/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 15px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 18px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
}

/* Hamburger Menu Styling */
#hamburger {
	font-size: 30px;
	text-decoration: none;
	color: #daa520;
}

/* Remove normal Menu when on smaller screens */
.navmenu {
	display: none;
}

/* TopNav bar Styling */
.topnav {
	position: relative;
	background-color: #231F20;
	overflow: hidden;
	padding: 6px;
}

.topnav-centered img {
	float: none;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.search-button {
	 position: relative;
	 right: 30px;
	 top: 30px;
	 transform: translate(0, -50%);
}
 .search-toggle {
	 position: relative;
	 display: block;
	 height: 10px;
	 width: 10px;
}
 .search-toggle::before, .search-toggle::after {
	 content: '';
	 position: absolute;
	 display: block;
	 transition: all 0.1s;
}
 .search-toggle::before {
	 border: 2px solid #0097bf;
	 border-radius: 50%;
	 width: 100%;
	 height: 100%;
	 left: -2px;
	 top: -2px;
}
 .search-toggle::after {
	 height: 2px;
	 width: 7px;
	 background: #0097bf;
	 top: 10px;
	 left: 8px;
	 transform: rotate(45deg);
}
 .search-toggle.active::before {
	 width: 0;
	 border-width: 1px;
	 border-radius: 0;
	 transform: rotate(45deg);
	 top: -1px;
	 left: 4px;
}
 .search-toggle.active::after {
	 width: 12px;
	 left: -1px;
	 top: 4px;
}
 .search-input:focus {
	 outline: none;
}

.search-box {
	 position: absolute;
	 bottom: 0;
	 width: 100%;
	 width: 100%;
	 height: 100%;
	 max-height: 0;
	 transform: translateY(100%);
	 background-color: #0097bf;
	 transition: all 0.3s;
}

.fa-shopping-cart {
	color: #daa520;
	padding: 14px 16px;
	font-size: 20px;
}

.fa-shopping-cart:hover {
	color: #EAEAEA;
}

.cart-basket {
	background: #daa520;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    color: #231F20;
    display: inline-block;
    font-weight: bold;
    line-height: 12px;
    margin-right: 1px;
    text-align: center;
    width: 12px;
	position: absolute;
	top: 26px;
	right: 10px;
	font-size: 12px;
}

.cart-basket[data-count]:after {
	content: attr(data-count);
}


/* Styling for Seperate Cake/Item Pages */

.product-details h1 {
	font-size: 40px;
	margin-bottom: 20px;
	line-height: 1.2;
	letter-spacing: .05em;
	text-transform: uppercase;
	font-family: 'Libre Baskerville', serif;
	font-style: normal;
	color: #daa520;
}

.product-details #product-price {
	margin-bottom: 24px;
}

.product-details #product-price .product-price {
	font-size: 22px;
	line-height: 1.1;
	font-family: 'Libre Baskerville', serif;
	font-style: normal;
	color: #EAEAEA;
}

.product-details #product-description {
	margin-bottom: 32px;
}

.product-details #product-description p {
	font-size: 12px;
	line-height: 1.72;
	letter-spacing: .05em;
	font-family: 'Libre Baskerville', serif;
	font-style: normal;
	color: #EAEAEA;
}


/* Cake Size Selection */
.product-details #product-varients {
	position: relative;
	max-resolution: 20px;
}

.product-details #product-varients label {
	margin-bottom: 12px;
	font-family: 'Libre Baskerville', serif;
	font-style: normal;
	color: #EAEAEA;
}

.product-details #product-varients .selection-wrapper {
	position: relative;
	display: block;
	overflow: hidden;
	width: 100%;
	background: #231F20;
	max-width: 100%;
	margin: 0;
	border: 1px solid #fff;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	background-clip: border-box;
}

.selection-wrapper select {
	cursor: pointer;
	width: 100%;
	max-width: 100%;
	min-width: 100%;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	margin: 0;
	background: #231F20;
	border: none;
	outline: 0;
	padding: 17px 66px 15px 22px;
	color: #EAEAEA;
}



/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
	body {
		background-color: green;
	}
	.product-center {
  		padding: 0 3px;
		float: left;
		width: 49.99999%;
  	}
}

/* Large devices (laptops/desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
	body {
		background-color: #231F20;
	}
	.product-center {
  		padding: 0 6px;
  		float: left;
  		width: 31.109%;
	}
		
	/* Remove Hamburger Menu on Larger Displays */
	.topnav #hamburger {
		font-size: 0;
	}
	
	.topnav-right {
		float: right;
		position: relative;
	}
		
	/* Style the links inside the navigation bar */
	.navmenu {
	float: left;
	color: #daa520;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 14px;
	display: inline-block;
	font-family: 'Libre Baskerville', serif;
	font-style: italic;
	}
	
	.navmenu:hover {
		color: #EAEAEA; /* Change this to whatever colour on hover */
	}
		
	/* Menu Styling to move nav menu around */
	.menu {
		display: inline-block;
	}
	
	/* Styling for Seperate Cake/Item Pages */
	.product-container{
		display: flex;
		margin-bottom: 120px;
	}
	.product-photos {
		width: 62.5%;
		position: relative;
	}
	.product-photos img {
		width: 100%;
	}
	.product-details {
		align-self: center;
		width: 37.8%;
		padding-left: 4.2%;
		padding-right: 1.25em;
		box-sizing: border-box;
	}
	.product-details .details {
		max-width: 385px;
	}
	

}


